body {
    text-align: center;
}

img {
    padding-top: 5px;
    height: 250px;
}

.boxInfo {
    padding: 10px 0;
    border: 1px solid grey;
    margin: 5px;
}

.name {
    font-size: 20px;
    font-weight: bold !important;
}